@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url(../font/NotoSansTC-Black.otf);
  font-weight: 900;
}

body {
  color: #231F20;
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #231F20;
}

a:hover {
  color: #231F20;
}

p {
  line-height: 1.4 !important;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

input {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  outline: none;
  color: #231F20;
  font-family: 'Noto Sans TC', sans-serif;
}

main {
  padding-top: 146.8px;
  min-height: calc(100vh - 107.53px - 50px);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

main.page-search {
  padding-top: 116px;
  min-height: 100vh;
}

main.page-inner {
  padding-top: 100px;
}

main.page-more-inner {
  padding-top: 40px;
}

main.page-free {
  padding-top: 191.8px;
}

main.page-tab {
  padding-top: 145px;
}

main.page-onlyLogo {
  padding-top: 60px;
}

@media screen and (max-width: 960px) {
  main {
    min-height: calc(100vh - 157.53px - 50px);
  }
}

.container {
  max-width: 720px;
  padding-left: 0;
  padding-right: 0;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title img {
  width: 24px;
  margin-right: 8px;
}

.title_text {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.bg-f6 {
  background-color: #f6f6f6;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.color-primary {
  color: #D3060F;
}

.btn-redBorder {
  font-size: 14px;
  color: #D3060F !important;
  padding: 6px 12px;
  border: 1px solid #D3060F;
}

.btn-redBg {
  font-size: 14px;
  color: #fff !important;
  padding: 6px 12px;
  background-color: #D3060F;
  display: block;
  text-align: center;
}

.btn-redBg-big {
  font-size: 16px;
  color: #fff !important;
  padding: 12px;
  background-color: #D3060F;
  max-width: 240px;
  width: 100%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.btn-redBg-big[disabled] {
  background-color: #9B9B9B;
}

.btn-redBg-big:hover {
  color: #fff;
}

.btn-download-text {
  width: 100%;
  height: 32px;
  color: #fff !important;
  font-size: 14px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-download-text img {
  margin-left: 4px;
}

.btn-download-text.normal {
  background-color: #D3060F;
}

.btn-download-text.downloading {
  background-color: #9B9B9B;
}

.btn-download-text.downloading img {
  -webkit-animation: loading 0.8s linear infinite;
          animation: loading 0.8s linear infinite;
}

.btn-download-text.downloaded {
  background-color: #FC7B66;
}

.btn-download-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  display: block;
}

.btn-download-icon::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-download-icon.bell {
  background-color: #D3060F;
}

.btn-download-icon.bell::before {
  background-image: url(../img/icon/downloadBell.svg);
}

.btn-download-icon.normal {
  background-color: #D3060F;
}

.btn-download-icon.normal::before {
  background-image: url(../img/icon/download.svg);
}

.btn-download-icon.downloading {
  background-color: #9B9B9B;
}

.btn-download-icon.downloading::before {
  background-image: url(../img/icon/loading.svg);
  -webkit-animation: loading2 0.8s linear infinite;
          animation: loading2 0.8s linear infinite;
}

.btn-download-icon.downloaded {
  background-color: #FC7B66;
}

.btn-download-icon.downloaded::before {
  background-image: url(../img/icon/true.svg);
}

.btn-clean {
  color: #8A8A8A;
  font-size: 14px;
}

.link {
  color: #2F59C4 !important;
}

.link:hover {
  color: #2F59C4;
}

.input {
  height: 40px;
  background-color: #fff;
  border: 1px solid #EFF1F2;
  padding: 0 12px;
  font-size: 14px;
}

.input::-webkit-input-placeholder {
  color: #D6D6D6;
}

.input:-ms-input-placeholder {
  color: #D6D6D6;
}

.input::-ms-input-placeholder {
  color: #D6D6D6;
}

.input::placeholder {
  color: #D6D6D6;
}

.lookmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookmore span {
  font-size: 14px;
  margin-right: 4px;
}

.lookmore img {
  width: 20px;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header > .container {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.header_logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_logo img {
  width: 90px;
}

.header_title {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #EFF1F2;
}

.header_title h1 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 0 55px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.header_search {
  width: 24px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.header_search img {
  width: 100%;
}

.header_nav .row {
  margin-left: -16px;
  margin-right: -16px;
}

.header_nav .row > li {
  padding-left: 16px;
  padding-right: 16px;
}

.header_nav a {
  display: block;
  width: 100%;
  position: relative;
  padding: 2px 0 4px;
}

.header_nav a svg {
  width: 24px;
  margin: 0 auto;
  display: block;
}

.header_nav a svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav a h2 {
  font-size: 14px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.header_nav a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #D3060F;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav a.active svg path, .header_nav a:hover svg path {
  fill: #D3060F;
}

.header_nav a.active h2, .header_nav a:hover h2 {
  color: #D3060F;
}

.header_nav a.active::after, .header_nav a:hover::after {
  opacity: 1;
}

.header_searchBar_arrow {
  cursor: pointer;
  width: 36px !important;
  position: static !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.header_searchBar_arrow img {
  width: 24px !important;
}

.header_searchBar_input {
  width: calc(100% - 36px);
  border: 1px solid #EFF1F2;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_searchBar_input input {
  width: calc(100% - 56px - 8px);
  height: 100%;
  font-size: 14px;
}

.header_searchBar_input input::-webkit-input-placeholder {
  font-size: 14px;
  color: #D6D6D6;
}

.header_searchBar_input input:-ms-input-placeholder {
  font-size: 14px;
  color: #D6D6D6;
}

.header_searchBar_input input::-ms-input-placeholder {
  font-size: 14px;
  color: #D6D6D6;
}

.header_searchBar_input input::placeholder {
  font-size: 14px;
  color: #D6D6D6;
}

.header_searchBar_input.focus {
  border-color: #4F5E72;
}

.header_searchBar_btn {
  width: 28px;
  padding: 0;
}

.header_arrow {
  width: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.header_arrow img {
  width: 100%;
}

@media screen and (max-width: 370px) {
  .header_nav .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .header_nav .row > li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header_nav a h2 {
    font-size: 12px;
  }
}

.home_banner {
  margin-top: 12px;
}

.home_banner_swiper {
  padding-bottom: 36px;
}

.home_banner_swiper .swiper-pagination-bullet {
  background-color: #EFF1F2;
  opacity: 1;
  margin: 0 3px;
}

.home_banner_swiper .swiper-pagination-bullet-active {
  background-color: #D3060F;
}

.home_banner_swiper .swiper-button-prev {
  left: 0;
}

.home_banner_swiper .swiper-button-next {
  right: 0;
}

.home_banner_swiper .swiper-button-prev, .home_banner_swiper .swiper-button-next {
  width: calc(10% - 16px);
  height: calc(100% - 36px);
  top: 0;
  margin: 0;
}

.home_banner_swiper .swiper-button-prev::after, .home_banner_swiper .swiper-button-next::after {
  display: none;
}

.home_banner_pic {
  position: relative;
  width: 100%;
  padding-bottom: 46.875%;
  display: block;
}

.home_banner_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.songList-bigPic_item h4 {
  margin-bottom: 2px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-bigPic_item p {
  margin-bottom: 8px;
  color: #7A7A7A;
  line-height: 1.4;
  font-size: 12px;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-bigPic_pic {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}

.songList-bigPic_pic_main {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.songList-bigPic_pic.playing .songList-bigPic_icon img.play {
  opacity: 0;
}

.songList-bigPic_pic.playing .songList-bigPic_icon img.stop {
  opacity: 1;
}

.songList-bigPic_icon {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 10px;
  right: 10px;
}

.songList-bigPic_icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.songList-bigPic_icon img.stop {
  opacity: 0;
}

.songList-smallPic_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.songList-smallPic_item:last-child {
  margin-bottom: 0;
}

.songList-smallPic_num {
  width: 32px;
  font-size: 12px;
  font-weight: 700;
}

.songList-smallPic_num .inner {
  width: 24px;
  text-align: center;
}

.songList-smallPic_pic {
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
}

.songList-smallPic_pic_main {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.songList-smallPic_pic.playing .songList-smallPic_icon img.play {
  opacity: 0;
}

.songList-smallPic_pic.playing .songList-smallPic_icon img.stop {
  opacity: 1;
}

.songList-smallPic_icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 3px;
  bottom: 3px;
}

.songList-smallPic_icon > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.songList-smallPic_icon > img.stop {
  opacity: 0;
}

.songList-smallPic_text {
  width: calc(100% - 32px - 48px - 28px);
  padding: 0 8px;
}

.songList-smallPic_text h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-smallPic_text p {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #8A8A8A;
  font-size: 12px;
}

.songList-smallPic_download {
  width: 28px;
}

.songList-check_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.songList-check_item .btn-redBorder {
  width: 52px;
  padding-left: 0;
  padding-right: 0;
}

.songList-check_item:last-child {
  margin-bottom: 0;
}

.songList-check_box {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.songList-check_box .cube {
  width: 16px;
  height: 16px;
  border: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.songList-check_box .cube img {
  width: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.songList-check_box .cube.active {
  background-color: #EA574D;
  border-color: #EA574D;
}

.songList-check_box .cube.active img {
  opacity: 1;
}

.songList-check_text {
  padding: 0 8px;
  width: calc(100% - 32px - 48px - 52px);
}

.songList-check_text h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-check_text p {
  color: #8A8A8A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 12px;
  margin: 0;
}

.songList-musicBox_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.songList-musicBox_item:last-child {
  margin-bottom: 0;
}

.songList-musicBox_text {
  padding-left: 8px;
  width: calc(100% - 48px);
}

.songList-musicBox_text h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-musicBox_text p {
  color: #8A8A8A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 12px;
  margin: 0;
}

.songList-replace_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.songList-replace_item:last-child {
  margin-bottom: 0;
}

.songList-replace_text {
  padding-left: 8px;
  width: calc(100% - 48px - 52px);
}

.songList-replace_text h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.songList-replace_text p {
  color: #8A8A8A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 12px;
  margin: 0;
}

.songList-replace .btn-redBg {
  width: 52px;
  padding-left: 0;
  padding-right: 0;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading2 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.topicList_pic {
  width: 100%;
  padding-bottom: 46.875%;
  position: relative;
  margin-bottom: 8px;
}

.topicList_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.topicList_item {
  display: block;
  width: 100%;
}

.topicList_item h4 {
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.topicList_look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topicList_look span {
  font-size: 14px;
  color: #D3060F;
  margin-right: 4px;
}

.topicList_look img {
  width: 24px;
}

.anno {
  margin-top: 60px;
}

.anno_item {
  margin-bottom: 2px;
}

.anno_item:last-child {
  margin-bottom: 0;
}

.anno_title {
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EFF1F2;
  cursor: pointer;
}

.anno_title h4 {
  color: #8A8A8A;
  font-size: 14px;
  margin: 0;
  width: calc(100% - 24px);
  margin-right: 12px;
  font-weight: normal;
}

.anno_icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.anno_icon .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #8A8A8A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.anno_icon .bar.hori {
  width: 14px;
  height: 2px;
}

.anno_icon .bar.vert {
  width: 2px;
  height: 14px;
}

.anno_icon.active .bar.vert {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.anno_content {
  padding: 10px 16px;
  font-size: 14px;
  display: none;
}

.footer {
  padding: 24px 16px;
  background-color: #231F20;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.footer_logo {
  width: 150px;
  display: block;
  margin: 0 auto 12px;
}

.footer_nav {
  margin-bottom: 12px;
}

.footer_nav a {
  display: block;
  position: relative;
  font-size: 14px;
  color: #fff;
  padding: 0 12px;
}

.footer_nav li:not(:last-child) a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  background-color: #fff;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer_copyright {
  text-align: center;
  font-size: 12px;
  color: #EFF1F2;
}

.footer_top {
  cursor: pointer;
  position: fixed;
  left: calc(50vw + 720px / 2 - 16px - 40px);
  bottom: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(138, 138, 138, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 25;
}

.footer_top img {
  width: 16px;
}

@media screen and (max-width: 720px) {
  .footer_top {
    left: calc(100% - 16px - 40px);
  }
}

.tab-main {
  height: 45px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #EFF1F2;
}

.tab-main li {
  height: 100%;
}

.tab-main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 6px;
  font-size: 14px;
  position: relative;
  height: 100%;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab-main a.active, .tab-main a:hover {
  color: #D3060F;
}

.tab-main a.active::after, .tab-main a:hover::after {
  opacity: 1;
}

.tab-main a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #D3060F;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 720px) {
  .tab-main::-webkit-scrollbar {
    display: none;
  }
}

.tab-record {
  position: relative;
  border-bottom: 1px solid #EFF1F2;
}

.tab-record .nav-link {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: #231F20;
  border-radius: 0;
  font-size: 14px;
}

.tab-record .nav-link.active {
  background-color: transparent;
  color: #D3060F;
}

.tab-record_line {
  position: absolute;
  height: 3px;
  background-color: #D3060F;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab-record.left::after {
  left: 0;
}

.tab-record.right::after {
  left: 50%;
}

@media screen and (max-width: 400px) {
  .tab-record .nav-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 370px) {
  .tab-record .nav-link {
    font-size: 12px;
  }
}

.tab-free li {
  width: 20%;
}

.message {
  position: fixed;
  width: 100%;
  max-width: 720px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 24px;
  font-size: 14px;
  z-index: 20;
}

.message.bg-black {
  background-color: #231F20;
  color: #fff;
}

.message.bg-red {
  background-color: #D3060F;
  color: #fff;
}

.message.bg-blue {
  background-color: #1642B1;
  color: #fff;
}

.member_nav ul li {
  margin-bottom: 2px;
}

.member_nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 12px 16px;
}

.member_nav_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 24px);
  padding-right: 12px;
}

.member_nav_text img {
  width: 24px;
}

.member_nav_text span {
  width: calc(100% - 24px);
  padding-left: 12px;
}

.member_nav_arrow {
  width: 24px;
}

.member_nav_arrow img {
  width: 100%;
}

.notify {
  padding: 57px 16px 70px;
}

.notify_icon {
  width: 100px;
  display: block;
  margin: 0 auto 12px;
}

.notify p {
  text-align: center;
}

.coupon_pic {
  padding-bottom: 30px;
}

.coupon_pic img {
  width: 100%;
  margin-bottom: 12px;
}

.coupon_record {
  width: 100% !important;
  margin-bottom: 32px;
  display: table !important;
}

.coupon_record td {
  border: 1px solid #D6D6D6 !important;
  padding: 6px 12px !important;
  text-align: center !important;
  font-size: 14px !important;
  color: #4F5E72 !important;
  height: auto !important;
}

.coupon_record tr:nth-child(odd) td {
  background-color: #EFF1F2 !important;
}

.coupon_record tr:nth-child(odd) td.coupon_record_num {
  background-color: #fff !important;
}

.coupon_record tr:nth-child(even) td {
  background-color: #fff !important;
}

.my_setting {
  position: relative;
}

.my_setting_active {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #EFF1F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.my_setting_active span {
  width: calc(100% - 28px);
  padding: 0 12px 0 0;
}

.my_setting_active img {
  width: 28px;
}

.my_setting_list {
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  left: 0;
  top: calc(100% + 8px);
  padding: 12px 0;
  display: none;
  z-index: 6;
}

.my_setting_list li {
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.my_setting_list li.active, .my_setting_list li:hover {
  background-color: #E8ECF0;
}

.my_setting:not(.empty) .my_setting_active {
  cursor: pointer;
}

.my_setting.current .my_setting_active span {
  padding: 0 12px 0 4px;
}

.my_setting.current .my_setting_active::before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: #D3060F;
  height: 100%;
  top: 0;
  left: 0;
}

.my_setting.empty .my_setting_active span {
  padding-left: 0;
  color: #BFBFBF;
}

.my_setting.empty .my_setting_active::before {
  display: none;
}

.add-slider {
  padding: 40px 16px 60px;
}

.musicBoxList_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.musicBoxList_item:last-child {
  margin-bottom: 0;
}

.musicBoxList_pic {
  width: 48px;
  height: 48px;
  position: relative;
}

.musicBoxList_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.musicBoxList_text {
  width: calc(100% - 112px - 48px);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 8px;
}

.musicBoxList_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(52px + 8px + 52px);
}

.musicBoxList_btn button, .musicBoxList_btn a {
  padding-left: 0;
  padding-right: 0;
  width: 52px;
  display: block;
}

.musicBoxList_btn a:hover {
  color: #fff;
}

.musicBoxList-bigPic_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.musicBoxList-bigPic_item:last-child {
  margin-bottom: 0;
}

.musicBoxList-bigPic_item.loading .musicBoxList-bigPic_num .loading-square {
  width: 24px;
  height: 24px;
  background-color: #e7e7e7;
}

.musicBoxList-bigPic_item.loading .musicBoxList-bigPic_pic {
  background-color: #e7e7e7;
}

.musicBoxList-bigPic_item.loading .musicBoxList-bigPic_text .loading-box-long {
  width: 100%;
  height: 14px;
  margin-bottom: 6px;
  background-color: #e7e7e7;
}

.musicBoxList-bigPic_item.loading .musicBoxList-bigPic_text .loading-box-short {
  width: 74px;
  height: 14px;
  background-color: #e7e7e7;
  margin-left: auto;
}

.musicBoxList-bigPic_num {
  width: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.musicBoxList-bigPic_num .inner {
  width: 24px;
  text-align: center;
}

.musicBoxList-bigPic_pic {
  width: 84px;
  height: 84px;
  position: relative;
  cursor: pointer;
}

.musicBoxList-bigPic_pic > img {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.musicBoxList-bigPic_pic.playing .musicBoxList-bigPic_icon img.play {
  opacity: 0;
}

.musicBoxList-bigPic_pic.playing .musicBoxList-bigPic_icon img.stop {
  opacity: 1;
}

.musicBoxList-bigPic_text {
  width: calc(100% - 32px - 84px);
  padding-left: 8px;
}

.musicBoxList-bigPic_text h2 {
  font-size: 16px;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.musicBoxList-bigPic_text ul {
  margin-bottom: 6px;
}

.musicBoxList-bigPic_text ul li {
  font-size: 12px;
  color: #8A8A8A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.musicBoxList-bigPic_text .topicList_look {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.musicBoxList-bigPic_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 5px;
  right: 5px;
}

.musicBoxList-bigPic_icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.musicBoxList-bigPic_icon img.stop {
  opacity: 0;
}

.musicBoxList-num {
  border-top: 1px solid #d6d6d6;
  margin-bottom: 40px;
}

.musicBoxList-num_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.musicBoxList-num_item:last-child {
  margin-bottom: 0;
}

.musicBoxList-num_num {
  width: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.musicBoxList-num_num .inner {
  width: 24px;
  text-align: center;
}

.musicBoxList-num_text {
  width: calc(100% - 32px - 48px);
  padding-left: 8px;
}

.musicBoxList-num_text h4 {
  font-size: 16px;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.musicBoxList-num_text p {
  font-size: 12px;
  color: #8A8A8A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0;
}

.musicBox_title {
  margin: 12px 0;
  padding: 16px 24px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.musicBox_title_pic {
  width: 84px;
  height: 84px;
  position: relative;
}

.musicBox_title_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.musicBox_title_text {
  width: calc(100% - 84px);
  padding-left: 8px;
}

.musicBox_title_text h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.musicBox_title_text p {
  color: #8A8A8A;
  margin: 0;
  font-size: 14px;
}

.group_add {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.group_add span {
  color: #8A8A8A;
  font-size: 14px;
  margin-right: 4px;
}

.group_add img {
  width: 20px;
}

.group_list_item {
  padding: 12px 16px;
  background-color: #fff;
  margin-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group_list_text {
  width: calc(100% - 44px - 50px);
}

.group_list_switch {
  width: 50px;
}

.group_list_switch .switch {
  width: 100%;
  height: 24px;
  border-radius: 100px;
  position: relative;
  background-color: #BFBFBF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.group_list_switch .switch_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  left: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.group_list_switch .switch.active {
  background-color: #EA574D;
}

.group_list_switch .switch.active .switch_circle {
  left: calc(100% - 22px);
}

.group_list_edit {
  width: 44px;
}

.group_list_edit img {
  width: 28px;
  display: block;
  margin-left: auto;
}

.group_setting_item {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group_setting_item span {
  width: 28px;
  font-size: 14px;
  font-weight: 700;
}

.group_setting_item .input {
  width: calc(100% - 28px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.group_setting_item .input:focus {
  border-color: #4F5E72;
}

.group_setting_item.wrong .input {
  border-color: #D3060F;
}

.group_setting_item.wrong .wrong_text {
  width: 100%;
  color: #D3060F;
  font-size: 14px;
  margin: 8px 0 0;
  padding-left: 28px;
}

.group_setting_content {
  margin-bottom: 40px;
}

.swal2-icon.swal2-error {
  border-color: #8A8A8A !important;
  background-color: #8A8A8A;
  color: #fff;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #fff !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #8A8A8A !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #8A8A8A !important;
  color: #fff;
}

.swal2-title {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #231F20 !important;
}

.swal2-styled.swal2-confirm {
  border-radius: 0 !important;
  background-color: #D3060F !important;
}

.swal2-styled.swal2-confirm:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swal2-popup {
  border-radius: 0 !important;
  width: 320px !important;
}

.download {
  padding: 24px 36px 60px;
}

.download_pic {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 24px;
}

.download_pic .songList_pic {
  width: 100%;
  padding-bottom: 100%;
}

.download_pic .songList-smallPic_icon {
  width: 36px;
  height: 36px;
  right: 12px;
  bottom: 12px;
}

.download_title {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
}

.download_name, .download_num {
  text-align: center;
  font-size: 14px;
  color: #8A8A8A;
  font-weight: normal;
}

.download_name {
  margin-bottom: 12px;
}

.download_num {
  margin-bottom: 24px;
}

.download_price {
  text-align: center;
  margin-bottom: 24px;
}

.download_price p:not(:last-child) {
  margin-bottom: 6px;
}

.download_price p:last-child {
  margin-bottom: 0;
}

.download_price span {
  font-size: 18px;
}

.download .btn-redBg-big {
  max-width: 240px;
  background-color: #D3060F;
  height: 47px;
  margin: 0 auto 16px;
  font-size: 16px;
}

.download_remark {
  font-size: 14px;
  color: #8A8A8A;
  margin: 0;
  text-align: center;
}

.download-result {
  padding: 32px 36px 60px;
  text-align: center;
}

.download-result_icon {
  width: 100px;
  display: block;
  margin: 0 auto 12px;
}

.download-result_music {
  font-size: 16px;
  font-weight: normal;
}

.download-result_name {
  font-size: 14px;
  font-weight: normal;
}

.download-result_remark {
  font-size: 14px;
  color: #8A8A8A;
}

.search_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search_tag li {
  border: 1px solid #FC7B66;
  border-radius: 5px;
  margin: 0 12px 12px 0;
}

.search_tag li a {
  font-size: 14px;
  padding: 6px 8px;
  display: block;
}

.search_list {
  padding: 0 6px;
  cursor: pointer;
}

.search_list_item {
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_list_item a {
  display: block;
  width: calc(100% - 32px);
  padding-right: 12px;
}

.search_list_item button {
  width: 32px;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */