// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
$color-black: #231F20;
$color-gray: #EFF1F2;
$primary: #D3060F;
$coral100: #FC7B66;
$red30: #EA574D;
$dark: #8A8A8A;
$blue: #1642B1;
$gray-bf: #BFBFBF;
$gray-e7: #e7e7e7;
$transition-common: 0.3s;

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans TC";
    src: url(../font/NotoSansTC-Black.otf);
    font-weight: 900;
}

body {
    color: $color-black;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-black;
    &:hover {
        color: $color-black;
    }
}

p {
    line-height: 1.4 !important;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
}

input {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    color: $color-black;
    font-family: 'Noto Sans TC', sans-serif;
}

main {
    padding-top: 126.8px;
    min-height: calc(100vh - 107.53px);
    &.page-search {
        padding-top: 96px;
    }
    &.page-inner {
        padding-top: 80px;
    }
    &.page-more-inner {
        padding-top: 40px;
    }
    &.page-free {
        padding-top: 171.8px;
    }
    &.page-tab {
        padding-top: 125px;
    }
    @media screen and (max-width: 960px) {
        min-height: calc(100vh - 157.53px);
    }
}

.container {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
}

.title {
    display: flex;
    align-items: center;
    img {
        width: 24px;
        margin-right: 8px;
    }
    &_text {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
    }
}

.bg-f6 {
    background-color: #f6f6f6;
}

.mb {
    &-12 {
        margin-bottom: 12px;
    }
    &-32 {
        margin-bottom: 32px;
    }
    &-60 {
        margin-bottom: 60px;
    }
}

.pb {
    &-60 {
        padding-bottom: 60px;
    }
}

.color {
    &-primary {
        color: $primary;
    }
}

.btn {
    &-redBorder {
        font-size: 14px;
        color: $primary !important;
        padding: 6px 12px;
        border: 1px solid $primary;
    }
    &-redBg {
        font-size: 14px;
        color: #fff !important;
        padding: 6px 12px;
        background-color: $primary;
        display: block;
        text-align: center;
    }
    &-redBg-big {
        font-size: 16px;
        color: #fff !important;
        padding: 12px;
        background-color: $primary;
        max-width: 240px;
        width: 100%;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
        &[disabled] {
            background-color: #9B9B9B;
        }
        &:hover {
            color: #fff;
        }
    }
    &-download {
        &-text {
            width: 100%;
            height: 32px;
            color: #fff !important;
            font-size: 14px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            img {
                margin-left: 4px;
            }
            &.normal {
                background-color: $primary;
            }
            &.downloading {
                background-color: #9B9B9B;
                img {
                    animation: loading 0.8s linear infinite;
                }
            }
            &.downloaded {
                background-color: $coral100;
            }
        }
        &-icon {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            position: relative;
            display: block;
            &::before {
                position: absolute;
                content: "";
                width: 24px;
                height: 24px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &.bell {
                background-color: $primary;
                &::before {
                    background-image: url(../img/icon/downloadBell.svg);
                }
            }
            &.normal {
                background-color: $primary;
                &::before {
                    background-image: url(../img/icon/download.svg);
                }
            }
            &.downloading {
                background-color: #9B9B9B;
                &::before {
                    background-image: url(../img/icon/loading.svg);
                    animation: loading2 0.8s linear infinite;
                }
            }
            &.downloaded {
                background-color: $coral100;
                &::before {
                    background-image: url(../img/icon/true.svg);
                }
            }
        }
    }
    &-clean {
        color: $dark;
        font-size: 14px;
    }
}

.link {
    color: #2F59C4 !important;
    &:hover {
        color: #2F59C4;
    }
}

.input {
    height: 40px;
    background-color: #fff;
    border: 1px solid $color-gray;
    padding: 0 12px;
    font-size: 14px;
    &::placeholder {
        color: #D6D6D6;
    }
}

.lookmore {
    display: flex;
    align-items: center;
    span {
        font-size: 14px;
        margin-right: 4px;
    }
    img {
        width: 20px;
    }
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    >.container {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    }
    &_logo {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 90px;
        }
    }
    &_title {
        height: 40px;
        display: flex;
        align-items: center;
        // justify-content: center;
        position: relative;
        border-bottom: 1px solid $color-gray;
        h1 {
            // text-align: center;
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            padding: 0 55px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
    }
    &_search {
        width: 24px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    &_nav {
        .row {
            margin-left: -16px;
            margin-right: -16px;
            >li {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        a {
            display: block;
            width: 100%;
            position: relative;
            padding: 2px 0 4px;
            svg {
                width: 24px;
                margin: 0 auto;
                display: block;
                path {
                    transition: $transition-common;
                }
            }
            h2 {
                font-size: 14px;
                margin: 0;
                text-align: center;
                font-weight: normal;
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $primary;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: $transition-common;
            }
            &.active, &:hover {
                svg {
                    path {
                        fill: $primary;
                    }
                }
                h2 {
                    color: $primary;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    &_searchBar {
        &_arrow {
            cursor: pointer;
            width: 36px !important;
            position: static !important;
            transform: none !important;
            img {
                width: 24px !important;
            }
        }
        &_input {
            width: calc(100% - 36px);
            border: 1px solid $color-gray;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            transition: 0.3s;
            input {
                width: calc(100% - 56px - 8px);
                height: 100%;
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                    color: #D6D6D6;
                }
            }
            &.focus {
                border-color: #4F5E72;
            }
        }
        &_btn {
            width: 28px;
        }
    }
    &_arrow {
        width: 24px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 370px) {
        &_nav {
            .row {
                margin-left: -12px;
                margin-right: -12px;
                >li {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
            a {
                h2 {
                    font-size: 12px;
                }
            }
        }
    }
}

.home {
    &_banner {
        margin-top: 12px;
        &_swiper {
            padding-bottom: 36px;
            .swiper-pagination-bullet {
                background-color: $color-gray;
                opacity: 1;
                margin: 0 3px;
                &-active {
                    background-color: $primary;
                }
            }
            .swiper-button {
                &-prev {
                    left: 0;
                }
                &-next {
                    right: 0;
                }
                &-prev, &-next {
                    width: calc(10% - 16px);
                    height: calc(100% - 36px);
                    top: 0;
                    margin: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 46.875%;
            display: block;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
}

.songList {
    &-bigPic {
        &_item {
            h4 {
                margin-bottom: 2px;
                line-height: 1.4;
                font-size: 16px;
                font-weight: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                margin-bottom: 8px;
                color: #7A7A7A;
                line-height: 1.4;
                font-size: 12px;
                font-weight: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
        &_pic {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            cursor: pointer;
            margin-bottom: 8px;
            &_main {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            &.playing {
                .songList-bigPic_icon {
                    img {
                        &.play {
                            opacity: 0;
                        }
                        &.stop {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &_icon {
            position: absolute;
            width: 28px;
            height: 28px;
            bottom: 10px;
            right: 10px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
                transition: $transition-common;
                &.stop {
                    opacity: 0;
                }
            }
        }

    }
    &-smallPic {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_num {
            width: 32px;
            // padding-left: 8px;
            // text-align: center;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            font-size: 12px;
            font-weight: 700;
            .inner {
                width: 24px;
                text-align: center;
            }
        }
        &_pic {
            width: 48px;
            height: 48px;
            position: relative;
            cursor: pointer;
            &_main {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            &.playing {
                .songList-smallPic_icon {
                    img {
                        &.play {
                            opacity: 0;
                        }
                        &.stop {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &_icon {
            position: absolute;
            width: 16px;
            height: 16px;
            right: 3px;
            bottom: 3px;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: 0.3s;
                &.stop {
                    opacity: 0;
                }
            }
        }
        &_text {
            width: calc(100% - 32px - 48px - 28px);
            padding: 0 8px;
            h4 {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 4px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                color: $dark;
                font-size: 12px;
            }
        }
        &_download {
            width: 28px;
        }
    }
    &-check {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .btn-redBorder {
                width: 52px;
                padding-left: 0;
                padding-right: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_box {
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            .cube {
                width: 16px;
                height: 16px;
                border: 1px solid $gray-bf;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                cursor: pointer;
                img {
                    width: 10px;
                    opacity: 0;
                    transition: 0.3s;
                }
                &.active {
                    background-color: $red30;
                    border-color: $red30;
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        &_text {
            padding: 0 8px;
            width: calc(100% - 32px - 48px - 52px);
            h4 {
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 4px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                color: $dark;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: 12px;
                margin: 0;
            }
        }
    }
    &-musicBox {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_text {
            padding-left: 8px;
            width: calc(100% - 48px);
            h4 {
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 4px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                color: $dark;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: 12px;
                margin: 0;
            }
        }
    }
    &-replace {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_text {
            padding-left: 8px;
            width: calc(100% - 48px - 52px);
            h4 {
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 4px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                color: $dark;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: 12px;
                margin: 0;
            }
        }
        .btn-redBg {
            width: 52px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.topicList {
    &_pic {
        width: 100%;
        padding-bottom: 46.875%;
        position: relative;
        margin-bottom: 8px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_item {
        display: block;
        width: 100%;
        h4 {
            margin-bottom: 8px;
            line-height: 1.4;
            font-size: 16px;
            font-weight: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
    }
    &_look {
        display: flex;
        align-items: center;
        span {
            font-size: 14px;
            color: $primary;
            margin-right: 4px;
        }
        img {
            width: 24px;
        }
    }
}

.anno {
    margin-top: 60px;
    &_item {
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_title {
        padding: 10px 16px;
        display: flex;
        align-items: center;
        background-color: $color-gray;
        cursor: pointer;
        h4 {
            color: $dark;
            font-size: 14px;
            margin: 0;
            width: calc(100% - 24px);
            margin-right: 12px;
            font-weight: normal;
        }
    }
    &_icon {
        width: 24px;
        height: 24px;
        position: relative;
        .bar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $dark;
            transition: $transition-common;
            &.hori {
                width: 14px;
                height: 2px;
            }
            &.vert {
                width: 2px;
                height: 14px;
            }
        }
        &.active {
            .bar {
                &.vert {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }
    &_content {
        padding: 10px 16px;
        font-size: 14px;
        display: none;
    }
}

.footer {
    padding: 24px 16px;
    background-color: $color-black;
    position: relative;
    &_logo {
        width: 150px;
        display: block;
        margin: 0 auto 12px;
    }
    &_nav {
        margin-bottom: 12px;
        a {
            display: block;
            position: relative;
            font-size: 14px;
            color: #fff;
            padding: 0 12px;
        }
        li {
            &:not(:last-child) {
                a {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 18px;
                        background-color: #fff;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    &_copyright {
        text-align: center;
        font-size: 12px;
        color: $color-gray;
    }
    &_top {
        cursor: pointer;
        position: fixed;
        left: calc(50vw + 720px / 2 - 16px - 40px);
        bottom: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(138, 138, 138, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 25;
        img {
            width: 16px;
        }
    }
    @media screen and (max-width: 720px) {
        &_top {
            left: calc(100% - 16px - 40px);
        }
    }
}

.tab {
    &-main {
        height: 45px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-gray;
        li {
            height: 100%;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 6px;
            font-size: 14px;
            position: relative;
            height: 100%;
            white-space: nowrap;
            transition: 0.3s;
            &.active, &:hover {
                color: $primary;
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $primary;
                left: 0;
                bottom: 0;
                opacity: 0;
                transition: 0.3s;
            }
        }
        @media screen and (max-width: 720px) {
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    &-record {
        position: relative;
        border-bottom: 1px solid $color-gray;
        .nav-item {
            // width: 50%;
        }
        .nav-link {
            text-align: center;
            width: 100%;
            padding: 10px 0;
            color: $color-black;
            border-radius: 0;
            font-size: 14px;
            &.active {
                background-color: transparent;
                color: $primary;
            }
        }
        // &::after {
        //     position: absolute;
        //     content: "";
        //     height: 3px;
        //     width: 50%;
        //     background-color: $primary;
        //     bottom: 0;
        //     transition: 0.3s;
        // }
        &_line {
            position: absolute;
            height: 3px;
            background-color: $primary;
            left: 0;
            bottom: 0;
            transition: 0.3s;
        }
        &.left {
            &::after {
                left: 0;
            }
        }
        &.right {
            &::after {
                left: 50%;
            }
        }
        @media screen and (max-width: 400px) {
            .nav-link {
                font-size: 13px;
            }
        }
        @media screen and (max-width: 370px) {
            .nav-link {
                font-size: 12px;
            }
        }
    }
}

.message {
    position: fixed;
    width: 100%;
    max-width: 720px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 24px;
    font-size: 14px;
    z-index: 20;
    &.bg-black {
        background-color: $color-black;
        color: #fff;
    }
    &.bg-red {
        background-color: $primary;
        color: #fff;
    }
    &.bg-blue {
        background-color: $blue;
        color: #fff;
    }
}

.member {
    &_nav {
        ul {
            li {
                margin-bottom: 2px;
                a {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    padding: 12px 16px;
                }
            }
        }
        &_text {
            display: flex;
            align-items: center;
            width: calc(100% - 24px);
            padding-right: 12px;
            img {
                width: 24px;
            }
            span {
                width: calc(100% - 24px);
                padding-left: 12px;
            }
        }
        &_arrow {
            width: 24px;
            img {
                width: 100%;
            }
        }
    }
}

.notify {
    padding: 57px 16px 70px;
    &_icon {
        width: 100px;
        display: block;
        margin: 0 auto 12px;
    }
    p {
        text-align: center;
    }
}

.coupon {
    &_pic {
        padding-bottom: 30px;
        img {
            width: 100%;
            margin-bottom: 12px;
        }
    }
    &_record {
        width: 100% !important;
        margin-bottom: 32px;
        display: table !important;
        td {
            border: 1px solid #D6D6D6 !important;
            padding: 6px 12px !important;
            text-align: center !important;
            font-size: 14px !important;
            color: #4F5E72 !important;
            height: auto !important;
        }
        tr {
            &:nth-child(odd) {
                td {
                    background-color: $color-gray !important;
                    &.coupon_record_num {
                        background-color: #fff !important;
                    }
                }
            }
            &:nth-child(even) {
                td {
                    background-color: #fff !important;
                }
            }
        }
        // &_num {
        //     background-color: transparent !important;
        // }
    }
}

.my {
    &_setting {
        position: relative;
        &_active {
            padding: 8px 12px;
            background-color: #fff;
            border: 1px solid $color-gray;
            display: flex;
            align-items: center;
            position: relative;
            span {
                width: calc(100% - 28px);
                padding: 0 12px 0 0;
            }
            img {
                width: 28px;
            }
        }
        &_list {
            position: absolute;
            width: 100%;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            left: 0;
            top: calc(100% + 8px);
            padding: 12px 0;
            display: none;
            z-index: 6;
            li {
                padding: 6px 12px;
                cursor: pointer;
                transition: 0.3s;
                &.active, &:hover {
                    background-color: #E8ECF0;
                }
            }
        }
        &:not(.empty) {
            .my_setting_active {
                cursor: pointer;
            }
        }
        &.current {
            .my_setting {
                &_active {
                    span {
                        padding: 0 12px 0 4px;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 4px;
                        background-color: $primary;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        &.empty {
            .my_setting {
                &_active {
                    span {
                        padding-left: 0;
                        color: $gray-bf;
                    }
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.add-slider {
    padding: 40px 16px 60px;
}

.musicBoxList {
    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_pic {
        width: 48px;
        height: 48px;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_text {
        width: calc(100% - 112px - 48px);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        padding: 0 8px;
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(52px + 8px + 52px);
        button, a {
            padding-left: 0;
            padding-right: 0;
            width: 52px;
            display: block;

        }
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &-bigPic {
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            &.loading {
                .musicBoxList-bigPic {
                    &_num {
                        .loading-square {
                            width: 24px;
                            height: 24px;
                            background-color: $gray-e7;
                        }
                    }
                    &_pic {
                        background-color: $gray-e7;
                    }
                    &_text {
                        .loading-box {
                            &-long {
                                width: 100%;
                                height: 14px;
                                margin-bottom: 6px;
                                background-color: $gray-e7;
                            }
                            &-short {
                                width: 74px;
                                height: 14px;
                                background-color: $gray-e7;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
        &_num {
            width: 32px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            .inner {
                width: 24px;
                text-align: center;
            }
        }
        &_pic {
            width: 84px;
            height: 84px;
            position: relative;
            >img {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            width: calc(100% - 32px - 84px);
            padding-left: 8px;
            h2 {
                font-size: 16px;
                margin-bottom: 6px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            ul {
                margin-bottom: 6px;
                li {
                    font-size: 12px;
                    color: $dark;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                }
            }
            .topicList_look {
                justify-content: flex-end;
            }
        }
    }
    &-num {
        border-top: 1px solid #d6d6d6;
        margin-bottom: 40px;
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_num {
            width: 32px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            .inner {
                width: 24px;
                text-align: center;
            }
        }
        &_text {
            width: calc(100% - 32px - 48px);
            padding-left: 8px;
            h4 {
                font-size: 16px;
                margin-bottom: 6px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                font-size: 12px;
                color: $dark;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                margin: 0;
            }
        }
    }
}

.musicBox {
    &_title {
        margin: 12px 0;
        padding: 16px 24px;
        background-color: #fff;
        display: flex;
        align-items: center;
        &_pic {
            width: 48px;
            height: 48px;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            width: calc(100% - 48px);
            padding-left: 8px;
            h4 {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 8px;
            }
            p {
                color: $dark;
                margin: 0;
                font-size: 14px;
            }
        }
    }
}

.group {
    &_add {
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        span {
            color: $dark;
            font-size: 14px;
            margin-right: 4px;
        }
        img {
            width: 20px;
        }
    }
    &_list {
        &_item {
            padding: 12px 16px;
            background-color: #fff;
            margin-bottom: 2px;
            display: flex;
            align-items: center;
        }
        &_text {
            width: calc(100% - 44px - 50px);
        }
        &_switch {
            width: 50px;
            .switch {
                width: 100%;
                height: 24px;
                border-radius: 100px;
                position: relative;
                background-color: $gray-bf;
                cursor: pointer;
                transition: 0.3s;
                &_circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                    left: 2px;
                    transition: 0.3s;
                }
                &.active {
                    background-color: $red30;
                    .switch_circle {
                        left: calc(100% - 22px);
                    }
                }
            }
        }
        &_edit {
            width: 44px;
            img {
                width: 28px;
                display: block;
                margin-left: auto;
            }
        }
    }
    &_setting {
        &_item {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            span {
                width: 28px;
                font-size: 14px;
                font-weight: 700;
            }
            .input {
                width: calc(100% - 28px);
                transition: 0.3s;
                &:focus {
                    border-color: #4F5E72;
                }
            }
            &.wrong {
                .input {
                    border-color: $primary;
                }
                .wrong_text {
                    width: 100%;
                    color: $primary;
                    font-size: 14px;
                    margin: 8px 0 0;
                    padding-left: 28px;
                }
            }
        }
        &_content {
            margin-bottom: 40px;
        }
    }
}

.swal2-icon {
    &.swal2-error {
        border-color: $dark !important;
        background-color: $dark;
        color: #fff;
        [class^=swal2-x-mark-line] {
            background-color: #fff !important;
        }
    }
    &.swal2-success {
        // border-color: $dark !important;
        // background-color: $dark;
        // color: #fff;
        [class^=swal2-success-line] {
            background-color: $dark !important;
            // background-color: #fff !important;
        }
        .swal2-success-ring {
            border-color: $dark !important;
            // background-color: $dark;
            color: #fff;
        }
    }
}

.swal2-title {
    font-size: 16px !important;
    font-weight: normal !important;
    color: $color-black !important;
}

.swal2-styled.swal2-confirm {
    border-radius: 0 !important;
    background-color: $primary !important;
    &:focus {
        box-shadow: none !important;
    }
}

.swal2-popup {
    border-radius: 0 !important;
    width: 320px !important;
}

.download {
    padding: 24px 36px 60px;
    &_pic {
        max-width: 200px;
        width: 100%;
        margin: 0 auto 24px;
        .songList_pic {
            width: 100%;
            padding-bottom: 100%;
        }
        .songList-smallPic_icon {
            width: 36px;
            height: 36px;
            right: 12px;
            bottom: 12px;
        }
    }
    &_title {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 12px;
    }
    &_name, &_num {
        text-align: center;
        font-size: 14px;
        color: $dark;
        font-weight: normal;
    }
    &_name {
        margin-bottom: 12px;
    }
    &_num {
        margin-bottom: 24px;
    }
    &_price {
        text-align: center;
        margin-bottom: 24px;
        p {
            &:not(:last-child) {
                margin-bottom: 6px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        span {
            font-size: 18px;
        }
    }
    .btn-redBg-big {
        max-width: 240px;
        background-color: $primary;
        height: 47px;
        margin: 0 auto 16px;
        font-size: 16px;
    }
    &_remark {
        font-size: 14px;
        color: $dark;
        margin: 0;
        text-align: center;
    }
    &-result {
        padding: 32px 36px 60px;
        text-align: center;
        &_icon {
            width: 100px;
            display: block;
            margin: 0 auto 12px;
        }
        &_music {
            font-size: 16px;
            font-weight: normal;
        }
        &_name {
            font-size: 14px;
            font-weight: normal;
        }
        &_remark {
            font-size: 14px;
            color: $dark;
        }
    }
}

.search {
    &_tag {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
            border: 1px solid #FC7B66;
            border-radius: 5px;
            margin: 0 12px 12px 0;
            a {
                font-size: 14px;
                padding: 6px 8px;
                display: block;
            }
        }
    }
    &_list {
        padding: 0 6px;
        cursor: pointer;
        &_item {
            padding: 6px 0;
            display: flex;
            align-items: center;
            a {
                display: block;
                width: calc(100% - 32px);
                padding-right: 12px;
            }
            button {
                width: 32px;
                padding: 0;
            }
        }
    }
}